html {
	background-color: #473d54;
}

.wrapper {
	background-color: #9aa6b3;
}

.title {
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
	background-color: #7a8a96;
	border-bottom-style: solid;
	border-bottom-color: #40617a;
	border: 3px solid #306973;
	text-allign: center;
}

.nav {
	float: left;
	padding: 5px;
	border-radius: 8px;
	border: 3px solid #42488c;
	font-size: 10px;
	text-allign: center;
}

.body {
	border: 3px solid #687c87;
	padding: 5px;
	font-size: 10px;
	border-radius: 8px;
	padding: 5px;
}

.first_center {
	font-size: 12px;
	border_bottom_color: #1e4d69;
	boarder-bottom-style: ridge;
	font-family: "Helvetica", sans-serif;
	text-allign: center;
}

.footer {
	font-size: 8px;
	font-family: "Helvetica", sans-serif;
	text-allign: center;
}

.project {
	background-color: black
}
