html {
	background-color: #473d54;
}

.wrapper {
	background-color: #9aa6b3;
}

.title {
	font-size: 20;
	font-family: "Helvetica", sans-serif;
	background-color: #7a8a96;
	border-bottom-style: solid;
	border-bottom-color: #40617a;
	border: 3px solid #306973;
	center;
}

.nav {
	float: left;
	padding: 5px;
	border-radius: 8px;
	border: 3px solid #42488c;
	font-size: 10;
	center;
}

.body {
	border: 3px solid #3181b0;
	border-style: ridge;
	padding: 5px;
	font-size: 12;
	border-radius: 8px;
	padding: 5px;
}

.center1 {
	center;
	font-size: 15;
	border_bottom_color: #1e4d69;
	boarder-bottom-style: ridge;
	font-family: "Helvetica", sans-serif;
}
